body {
    background-color: lightgrey;
}

header > h1 {
    background-color: rgba(0, 0, 0, 0.842);
    color: green;
    text-align: center;
    margin: auto;
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

main {
    width: 1000px;
    margin: auto;
}

main p {
    line-height: 2em;
    text-align: justify;
}